
  <div class="col-lg-3 col-6 bar">
    <!-- small box -->
    <div class="small-box bg-info" (click)="getDataFromOneDrive()">
      <div class="inner">
        <h3>Import</h3>
        <p class="drive">One Drive</p>
      </div>

    </div>
  </div>
  <div class="col-12">

    <!-- /.card-header -->
    <div class="card-body">
      <table id="example2" class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>User Email Address</th>
          <th>File Count</th>
          <th>Size(MB)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Win 95+</td>
          <td> 4</td>
          <td>X</td>
        </tr>
        <tr>
          <td>Win 95+</td>
          <td>5</td>
          <td>C</td>
        </tr>
        <tr>
          <td>Win 95+</td>
          <td>5.5</td>
          <td>A</td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- /.card-body -->

  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-blue"><i class="fa fa-files-o"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Total Size</span>
        <span class="info-box-number">9GB</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>

